*{
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #1f1f1f;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 2%;
}
body{
  margin:0;
}


