.user label{
  font-size: large;
  font-weight: bolder;

}

.user input{
  width: 100%;
  padding: 4px 2px;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user input:focus{
  border: 1px solid yellow;
}
